<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDFG Viewer</title>
    <link rel="stylesheet" type="text/css" href="{{dir|safe}}./webclient/external_lib/material/material-icons.css">
    <link rel="stylesheet" type="text/css" href="{{dir|safe}}./webclient/sdfv.css">
    <script src="{{dir|safe}}./webclient/renderer_dir/dagre.js"></script>
    <script src="{{dir|safe}}./webclient/external_lib/jquery.min.js"></script>
    <script src="{{dir|safe}}./webclient/external_lib/pdfkit.standalone.js"></script>
    <script src="{{dir|safe}}./webclient/external_lib/blob-stream.js"></script>
    <script src="{{dir|safe}}./webclient/external_lib/canvas2pdf.js"></script>
    <script src="{{dir|safe}}./webclient/external_lib/math.min.js"></script>

    <script src="{{dir|safe}}./webclient/renderer_dir/global_vars.js"></script>
    <script src="{{dir|safe}}./webclient/renderer_elements.js"></script>
    <script src="{{dir|safe}}./webclient/context_menu.js"></script>
    <script src="{{dir|safe}}./webclient/sdfg_utils.js"></script>
    <script src="{{dir|safe}}./webclient/renderer.js"></script>
</head>
<body>
<div id="filepicker"><form>
    <input type="file" accept=".sdfg,.json"> <input type="button" id="reload" value="Refresh">
</form></div>

<div>
    <div id="search-bar" class="hidden">
        <div id="search-container">
            <input id="search" type="text" placeholder="Search the graph">
        </div>
        <div id="search-case-container">
            <label for="search-case">
                <input id="search-case" type="checkbox">
                Case Sensitive
            </label>
        </div>
        <div id="search-btn" class="button">
            <span>
                Search
            </span>
        </div>
        <div id="outline-btn" class="hidden button">
            <span>
                SDFG Outline
            </span>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="contents"></div>
<div id="info-container">
    <div id="info-header">
        <div id="info-title-container">
            <h3 id="info-title"></h3>
        </div>
        <div id="info-clear-btn" class="hidden button" onclick="clear_info_box();">
            <span>
                Clear Info &times;
            </span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="info-contents"></div>
</div>

<script src="{{dir|safe}}./webclient/sdfv.js"></script>
<script>
$(document).ready(function(){
    var sdfg_json = {{sdfg|safe}};
    var sdfg = parse_sdfg(sdfg_json);
    init_sdfv(sdfg);
});
</script>
</body>
</html>