# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Windows
Thumbs.db

# Ignore files built by Visual Studio [code]
*.obj
*.exe
*.pdb
*.user
*.dot
*.jpg
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
.vscode/
src.VC.db
src.VC.VC.opendb
*.exp

# DaCe
.dacecache/
out.sdfg
*.out
results.log
perf.json
perf*.csv
/dace/frontend/octave/parsetab.py

# Xilinx
xilinx_vcu1525_*
sdaccel_profile_*
sdaccel_timeline_*
.run/

# NVIDIA
*.nvprof
out.sdfg

# Miscellaneous
*~

perfdata.db

.idea/
_dotgraphs/
_dacegraphs/

/dace/codegen/cmake-build-debug/

client_configs/

perfdata-dir/

rgf_dense_saved.sdfg

.ycm_extra_conf.py

/diode/sdfv_tmp*.html

_build/

/*.sdfg


.DS_STORE
.DS_Store


.*cache/
