absl-py==0.8.1
aenum==2.2.3
astunparse==1.6.2
chardet==3.0.4
Click==7.0
cmake>=3.12.0
decorator==4.4.1
Flask==1.1.1
graphviz==0.13.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
mpmath==1.1.0
networkx==2.4
numpy==1.17.4
packaging==19.2
ply==3.11
pyparsing==2.4.5
PyYAML==5.1.2
requests==2.22.0
scikit-build==0.10.0
scipy==1.3.3
six==1.13.0
sympy==1.4
tqdm==4.31.1
urllib3==1.25.7
websockets==8.1
Werkzeug==0.16.0
