{% extends "sdfv_base.html" %}

{% block scripts_after %}
    <script>
    var sdfg_string = {{sdfg|safe}};
    document.addEventListener('DOMContentLoaded', function () {
        const sdfvInst = WebSDFV.getInstance();
        if (sdfvInst.initialized) {
            sdfvInst.setSDFG(checkCompatLoad(parse_sdfg(sdfg_string)), null, false);
        } else {
            sdfvInst.on('initialized', () => {
                sdfvInst.setSDFG(checkCompatLoad(parse_sdfg(sdfg_string)), null, false);
            });
        }
    });
    </script>
{% endblock %}
