#contents {
    position: relative;
    resize: both;
    width: 1024px;
    height: 768px;
    border: 1px solid;
    overflow: auto;
}

/* Adapted from W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-sidebar{height:100%;width:400px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto;}
.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-code{font-family:Consolas,"courier new";font-size:14px;line-height: 20px}
.w3-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.w3-card{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-button:hover{color:#000!important;background-color:#ccc!important}

.dragbar {
    padding: 3px;
    height: 100%;
    width: 2px;
    display: flex;
    cursor: col-resize;
    background-color: silver;
}

.context_menu {
    position: absolute;
    background-color: #fdfdfd;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
}

.context_menu_option {
    font-size: 14px;
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 10px 40px 10px 20px;
    cursor: pointer;
}

.context_menu_option:hover {
    background: rgba(0, 0, 0, 0.1);
}

.tooltip {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 16px;
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 2px 5px 2px 5px;
    border-radius: 4px;
    user-select: none;
    position: absolute;
    display: none;
}
